.menu-item {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;

    &.active {
        color:#fe2c55;

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(31, 34, 47, 0.268);
    }
}

.title {
    margin-left: 10px;
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}