.contact-container {
    padding-top: 5rem;
    text-align: center;
  
}

.contact {

    padding: 5rem;
    text-align: center;
min-height: 814px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}