.contact-container {
    padding-top: 5rem;
    text-align: center;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.card {
    background: #fff;
    width: 16em;
    height: 30em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}

.card:hover {
    transform: scale(1.13);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.card h2 {
    color: #222;
    margin-top: -0.2em;
    line-height: 1.4;
    font-size: 1.3em;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
}

.card p {
    color: #777;
}

.card h5 {
    color: #bbb;
    font-weight: 700;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    margin: 1.4em 0 0 0;
    text-transform: uppercase;
}
.content{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}
.card-body {
    padding: 1.2em;

    .title-body {
            max-height: 80px;
        h2 {max-height: 80px;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }

    p {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
}

/////////////

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.carddark {
    background: #383838;
    width: 16em;
    height: 30em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}

.carddark:hover {
    transform: scale(1.13);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.carddark img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.carddark h2 {
    color: #ffffff;
    margin-top: -0.2em;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
}

.carddark p {
    color: #ffffff;
}

.carddark h5 {
    color: #bbb;
    font-weight: 700;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    margin: 1.4em 0 0 0;
    text-transform: uppercase;
}





.cardlight {
    background: #ffffff;
    width: 16em;
    height: 30em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}

.cardlight:hover {
    transform: scale(1.13);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.cardlight img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.cardlight h2 {
    color: #000000;
    margin-top: -0.2em;

    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
}

.cardlight p {
    color: #777;
}

.cardlight h5 {
    color: #000000;
    font-weight: 700;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    margin: 1.4em 0 0 0;
    text-transform: uppercase;
}