a {
  text-decoration: none;
  padding: 20px;

}

.dark {
  background-color: black;
    color: #ffffff;
  min-height: 755px;
 
}
.light {
  background-color: rgb(255, 255, 255);
    color: #000000;
    min-height: 100px;
}

